*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#444;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
}

nav ul li{
    margin:15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:gold;
}

main{
    width:80%;
    margin:30px auto;
}

section{
    background:white;
    margin-bottom:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
}

img{
    width:120px;
    margin:10px;
    border-radius:10px;
    transition:0.3s;
}

img:hover{
    transform:scale(1.1);
}